# Reemplaza USUARIO y CONTRASENA con los datos de tu PostgreSQL local
DATABASE_URL="postgresql://USUARIO:CONTRASENA@localhost:5432/taller_automotriz?schema=public"

NEXTAUTH_SECRET="escribe_cualquier_palabra_aqui"